<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>
<h2>Add a comment:</h2>
<%= form_for @article do |form| %>
    <p>
      <%= form.label :comments %><br>
      <%= form.text_field :comments %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %>